.currency-row {
    display: flex;
    padding: 1rem;
}

.center {
    margin: auto;
    width: 60%;
}

.sentence {
    margin: auto;
    text-align: center;
}

.column {
    flex: 50%;
}

.column-currency {
    display: flex;
    flex: 50%;
    justify-content: flex-end;
    color: #5c5c5c;
}
